<div class="w3">
    <ul class="timeline" ng-repeat="stat in status_list">
        <li class="tl-header" ng-if="stat.head_type==-1">
            <div class="btn white" ui-toggle-class="timeline-center" ui-target=".timeline">{{ stat.create_time }}</div>
        </li>
        <li class="tl-item" ng-if="stat.head_type!=-1">
            <div class="tl-wrap b-success">
                <span class="tl-date text-muted" ng-if="stat.head_type==7">{{ stat.arrival_time }}</span>
                <span class="tl-date text-muted" ng-if="stat.head_type==12">{{ stat.stop_time }}</span>
                <span class="tl-date text-muted"
                      ng-if="stat.head_type!=7 && stat.head_type!=12">{{ stat.create_time }}</span>

                <div class="tl-content box-color text-color" ng-if="stat.head_type==1">
                    <span class="arrow b-white left pull-top"></span>
                    <div class="text-lt p-x m-b-sm">报修</div>
                    <div class="p-a b-t b-light">
                        <div class="f3">{{ stat.must_time }}到修(合约)</div>
                        <div>{{ stat.name }}</div>
                        <div class="f3">{{ stat.mobile }}</div>
                    </div>
                </div>


                <div class="tl-content box-color text-color" ng-if="stat.head_type==2">
                    <span class="arrow b-white left pull-top"></span>
                    <div class="text-lt p-x m-b-sm">通知</div>
                    <div class="p-a b-t b-light">
                        <div class="f3">{{ stat.company }} {{ stat.city }}{{ stat.count }}人</div>
                        <div>{{ stat.name }}(主管)</div>
                        <div class="f3">{{ stat.mobile }}</div>
                    </div>
                </div>


                <div class="tl-content box-color text-color" ng-if="stat.head_type==3">
                    <span class="arrow b-white left pull-top"></span>
                    <div class="text-lt p-x m-b-sm"><img src="/static/images/time_dot.png"/></div>
                    <div class="p-a b-t b-light">
                        <div class="f3">{{ stat.company }} {{ stat.city }}</div>
                        <div>{{ stat.to_name }}</div>
                        <div class="f3">{{ stat.to_mobile }}</div>
                    </div>
                </div>

                <div class="tl-content box-color text-color" ng-if="stat.head_type==4">
                    <span class="arrow b-white left pull-top"></span>
                    <div class="text-lt p-x m-b-sm"><img src="/static/images/time_dot.png"/></div>
                    <div class="p-a b-t b-light">
                        <div class="f3">{{ stat.company }} {{ stat.city }}</div>
                        <div>{{ stat.to_name }}</div>
                        <div class="f3">{{ stat.to_mobile }}</div>
                    </div>
                </div>

                <div class="tl-content box-color text-color" ng-if="stat.head_type==5">
                    <span class="arrow b-white left pull-top"></span>
                    <div class="text-lt p-x m-b-sm"><img src="/static/images/time_dot.png"/></div>
                    <div class="p-a b-t b-light">
                        <div class="f3">{{ stat.company }} 总部</div>
                        <div>{{ stat.to_name }}</div>
                        <div class="f3">{{ stat.to_mobile }}</div>
                    </div>
                </div>

                <div class="tl-content box-color text-color" ng-if="stat.head_type==6">
                    <span class="arrow b-white left pull-top"></span>
                    <div class="text-lt p-x m-b-sm">接单</div>
                    <div class="p-a b-t b-light">
                        <div class="f3">预计{{ stat.must_time }}时候到店</div>
                        <div>{{ stat.to_name }}({{ stat.company }}{{ stat.city }})</div>
                        <div class="f3">{{ stat.to_mobile }}</div>
                    </div>
                </div>


                <div class="tl-content box-color text-color" ng-if="stat.head_type==7">
                    <span class="arrow b-white left pull-top"></span>
                    <div class="text-lt p-x m-b-sm">到店</div>
                    <div class="p-a b-t b-light">
                        <td>
                            <div>实际到店</div>
                            <div class="f3" ng-if="stat.later">迟到原因:{{ stat.later }}</div>
                        </td>
                    </div>
                </div>


                <div class="tl-content box-color text-color" ng-if="stat.head_type==8">
                    <span class="arrow b-white left pull-top"></span>
                    <div class="text-lt p-x m-b-sm"><span class="icon">维修</span></div>
                    <div class="p-a b-t b-light">
                        预计{{ stat.create_time }}修复
                    </div>
                </div>

                <div class="tl-content box-color text-color" ng-if="stat.head_type==12">
                    <span class="arrow b-white left pull-top"></span>
                    <div class="text-lt p-x m-b-sm"><span class="icon">暂停</span></div>
                    <div class="p-a b-t b-light">
                        {{ stat.title }}
                        <div>{{ stat.content }}</div>
                    </div>
                </div>


                <div class="tl-content box-color text-color" ng-if="stat.head_type==9">
                    <span class="arrow b-white left pull-top"></span>
                    <div class="text-lt p-x m-b-sm"></div>
                    <div class="p-a b-t b-light">
                        {{ stat.msg }}
                    </div>
                </div>


                <div class="tl-content box-color text-color" ng-if="stat.head_type==10">
                    <span class="arrow b-white left pull-top"></span>
                    <div class="text-lt p-x m-b-sm"><span class="icon">确认修单</span></div>
                    <div class="p-a b-t b-light">
                        <div>{{ stat.msg }}</div>
                    </div>
                </div>


                <div class="tl-content box-color text-color" ng-if="stat.head_type==11">
                    <span class="arrow b-white left pull-top"></span>
                    <div class="text-lt p-x m-b-sm"><span class="icon">24H</span></div>
                    <div class="p-a b-t b-light">
                        <div>{{ stat.msg }}</div>
                    </div>
                </div>


            </div>
        </li>
    </ul>
</div>
