<footer class="text-white">
    <div class="container">
        <div class="col-md-6">
            <div class="title"><span class="text-large m-r">联系我们</span><span class="text-middle">Contact Us</span></div>
            <div class="content">
                <div class="tel">
                    <div class="icon"><img src="/static/website/img/icon_call.png"></div>
                    <div class="message">
                        <div class="text-grey-lt text-big">021-62189829</div>
                        <div class="text-grey-dk text-md-small p-t-xs">周一至周五(非节假日) 10:00-19:00</div>
                    </div>
                </div>
                <div class="email">
                    <div class="icon"><img src="/static/website/img/icon_email.png"></div>
                    <div class="text-grey-lt email-text">support@51quickfix.com</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="title"><span class="text-large m-r">合作</span><span class="text-middle">Cooperation</span></div>
            <div class="content">
                <span id="boss" class="text-grey-lt text-big">Chooteck Yang</span>
                <div class="m-t-lg text-grey-lt">
                    <div class="p-t p-b-sm">Tel:&nbsp; +86 137-0163-4052</div>
                    <div>E-mail: chooteck.yang@51quickfix.com</div>
                </div>
            </div>
        </div>
    </div>
</footer>