{% extends "website/layout.html" %}

{% block content %}
<div class="container">
    <div class="intro p-r-12 p-l-12">
        <div class="row title text-center">
            <div class="col-md-12">
                <div class="text-large">项目简介</div>
                <div class="text-middle">Program Introduction</div>
            </div>
        </div>
        <div class="row p-r-12 p-l-12 desc">
            <div class="col-md-6">
                <div class="text-middle text-center p-t">什么是「51快修」?</div>
                <div class="text-muted text-center p-t p-b">What is 51 quick fix?</div>
                <div class="content p-t-md p-l-sm">
                    <div class="text-indent">51快修, 是一个承载了商户、维修服务商等角色的全方位售后服务平台。</div>
                    <div class="text-indent">整个平台分为餐厅APP、商户后台、维修工APP、服务商后台四大部分。不同职责的用户通过51快修提供的不同工具协同合作,
                        报修、监控、维修、盘点、资产管理、结算、大数据等, 最大限度地节约人力物力!
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/static/website/img/pic_1.png" class="img-responsive">
            </div>
        </div>
    </div>

    <div class="intro">
        <div class="row title text-center">
            <div class="col-md-12">
                <div class="text-large">功能介绍</div>
                <div class="text-middle">Function Introduction</div>
            </div>
        </div>
        <div id="func-intro" class="row">
            <div class="col-md-6">
                <div class="func-intro-text text-center text-white">
                    <div class="text-middle">您可以通过「51快修」做什么?</div>
                    <div class="text-muted en">What can you do through 51 quick fix?</div>
                </div>
                <div><img src="/static/website/img/background_1.png" class="img-responsive"></div>
                <div><img src="/static/website/img/pic_2.png" class="img-responsive"></div>
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card func-intro-card">
                                <div class="icon"><img src="/static/website/img/icon_repair.png"></div>
                                <div class="card-title p-t-sm">维修</div>
                                <hr>
                                <div class="detail">
                                    <ul class="nav text-small _100">
                                        <li>扫二维码报修</li>
                                        <li>多级通知</li>
                                        <li>维修跟踪服务</li>
                                        <li>信息标准化</li>
                                        <li>电子化工单</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card func-intro-card">
                                <div class="icon"><img src="/static/website/img/icon_purchase.png"></div>
                                <div class="card-title p-t-sm">采购</div>
                                <hr>
                                <div class="detail">
                                    <ul class="nav text-small _100">
                                        <li>常规耗材采购</li>
                                        <li>特殊耗材采购</li>
                                        <li>零配件采购</li>
                                        <li>设备采购</li>
                                        <li>物流跟踪</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-md-6">
                            <div class="card func-intro-card">
                                <div class="icon"><img src="/static/website/img/icon_assets.png"></div>
                                <div class="card-title p-t-sm">固定资产</div>
                                <hr>
                                <div class="detail">
                                    <ul class="nav text-small _100">
                                        <li>固定资产数据库</li>
                                        <li>固定资产管理</li>
                                        <li>挑拨/买卖/租借</li>
                                        <li>报废/闲置</li>
                                        <li>固定资产盘点</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card func-intro-card">
                                <div class="icon"><img src="/static/website/img/icon_balance.png"></div>
                                <div class="card-title p-t-sm">费用结算</div>
                                <hr>
                                <div class="detail">
                                    <ul class="nav text-small _100">
                                        <li>标准化流程</li>
                                        <li>自动生成账单</li>
                                        <li>线上结算</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="intro p-r-12 p-l-12">
        <div class="row title text-center">
            <div class="col-md-12">
                <div class="text-large">流程</div>
                <div class="text-middle">Process</div>
            </div>
        </div>
        <div class="row">
            <div class="process-title text-center no-radius m-b text-white">
                <div class="p-t-md text-grey-lt">多终端配合·信息共享·实时监控</div>
                <div class="p-b-md text-middle">「51快修」如何工作? / How does 51 quick fix work?</div>
            </div>
            <div><img src="/static/website/img/flow.png" class="img-responsive"></div>
        </div>
    </div>

    <div id="partner">
        <div class="row">
            <div class="col-md-6">
                <div class="box p-a-lg text-center grey-100">
                    <div class="text-middle m-t-lg m-b-sm">合作伙伴</div>
                    <div class="text-muted m-b-lg">Cooperative Partner</div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
{% endblock %}