<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<title>HR</title>
	<meta name="description" content="HR"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- for ios 7 style, multi-resolution icon of 152x152 -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
	<link rel="apple-touch-icon" href="../assets/images/logo.png">
	<meta name="apple-mobile-web-app-title" content="Flatkit">
	<!-- for Chrome on Android, multi-resolution icon of 196x196 -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" sizes="196x196" href="../assets/images/logo.png">

	<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
</head>

<body>
	<div id="app">
		<router-view></router-view>
	</div>
</body>

</html>