{% extends "admin/base.html" %} {%block content%}
<div class="content">
    <ul class="nav nav-tabs">
        <li><a href="/admin/{{current}}/list" target="_self" class="btn">列表</a></li>
        <li class="active"><a href="javascript:void(0)">添加</a></li>
    </ul>
    <br />
    <form method="POST" action="" id="form1">
        <div class="table-responsive">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                {% for field in form %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }}
                        <span style="color:green"> {{ field.help_text }}</span> 
                        <br /><span style="color:red">{{ field.errors }}</span>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
<script src="/static/js/article.js"></script>
{%endblock%}
