body {
    font-family: "黑体-简";
    font-weight: 500;
    background: #ffffff;
}

.app-footer:not(.hide) ~ .app-body {
    padding-bottom: 5.125rem;
}

.clearfix {
    clear: both;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.b-orange {
    border-color: #ff7315;
}

.text-orange {
    color: #ff7315;
}

.orange {
    background-color: #ff7315;
    color: rgba(0, 0, 0, 0.87);
}

.theme-blue {
    background-color: #374256;
}

.theme-text-blue {
    color: #374256;
}

.theme-box {
    background-color: rgb(249, 249, 249);
}

.theme-grey {
    background-color: rgb(244, 244, 244);
}

.theme-grey-dark {
    background-color: rgb(228, 228, 228);
}

.theme-title-grey {
    background-color: rgb(135, 142, 154);
}

.theme-table-selected {
    background-color: rgb(255, 241, 232);
}