{% extends "store/base.html" %} {%block content%}
{% load helpers %}
<script type="text/javascript" src="/static/js/date.js"></script>
<script type="text/javascript" src="/static/js/jquery.datepickercn.js"></script>
<script type="text/javascript" src="/static/slice-box/js/jquery.slicebox.js"></script>
<link href="/static/css/datePicker.css" rel="stylesheet">
<script type="text/javascript">
<script type="text/javascript">
            $(function() {
                
                var Page = (function() {

                var $navArrows = $( '#nav-arrows' ).hide(),
                    $shadow    = $( '#shadow' ).hide(),
                    slicebox   = $( '#sb-slider' ).slicebox( {
                            onReady : function() {

                                $navArrows.show();
                                $shadow.show();

                            },
                            orientation : 'r',
                            cuboidsRandom : true,
                            disperseFactor : 30
                        } ),
                        
                        init = function() {

                            initEvents();
                            
                        },
                        initEvents = function() {

                            // add navigation events
                            $navArrows.children( ':first' ).on( 'click', function() {

                                slicebox.next();
                                return false;

                            } );

                            $navArrows.children( ':last' ).on( 'click', function() {
                                
                                slicebox.previous();
                                return false;

                            } );

                        };

                        return { init : init };

                })();

                Page.init();

            });
        </script>
    $(function(){
        $('#id_scrap_time').datePicker();
    });
</script> 
<style type="text/css">
    
    </style>
<div class="wrapper">
    <div class="sub_nav clearfix f2">
    <span class="fl"><a href="/store/">首页</a> > 
        <a href="/store/{{current}}/list?q=0">维修</a> > 维修工单</span>  
        <span class="fr">报修编号:{{ res.code }}</span>
    </div>
    <div class="box clearfix">
    <form method="POST" action="" id="form" >
             <table width="100%">
                <tr>
                    <th>报修类型</th>
                    <td>{{device.category|fix_none}}</td>
                </tr>
                <tr><th>设备</th><td>{{device.name}}  {%if device.guarantee %}<img src="/static/images/icon_warranty_period.png"/>{%else%}{%endif%}</td></tr>
                <tr><th>固定资产编号</th><td>{{device.no|fix_none}}</td></tr>
                <tr><td colspan="2"><div class="hr"></div></td></tr>
                <tr><th>报修故障</th><td>{{res.content|fix_none}} {%ifequal res.state 1%}<img src="/static/images/icon_urgency.png"/>{%endifequal%}</td></tr>
                <tr><th>故障分析</th><td>{{bill.analysis|fix_none }}</td></tr>
                <tr><th>维修措施</th><td>{{bill.measures|fix_none }}</td></tr>
                {% if res.logo %}
                <tr>
                    <th>故障图片:</th>
                    <td>{% for logo in  res.logo %}<img src="{{logo}}" style="max-width: 120px"> {% endfor %} </td>
                </tr>
                {% endif %}
                <tr><td colspan="2"><div class="hr"></div></td></tr>
                <tr><th>零件费</th><td>{{bill.spare_total }}</td></tr>
                <tr><th>交通费</th><td>{{bill.travel }}</td></tr>
                <tr><th>人工费</th><td>{{bill.labor }}</td></tr>
                <tr><th>住宿费</th><td>{{bill.stay_total }}</td></tr>
                {%if bill.others %}
                <tr><th>其他费用</th><td>
                    {% for other in others %}
                        <p>{{other.msg}}:{{other.total}}</p>
                    {% endfor %}
                </td></tr>
                {%endif%}
                <tr><th>合计</th><td>{{bill.total }}</td></tr>
                <tr>
                    <td colspan="2">
                            {%if bill %}
                            <table class="table2"  style="width: 95%">
                                <thead>
                                <tr>
                                    <td>零配件</td>
                                    <td>编号</td>
                                    <td>破坏类型</td>
                                    <td>整机保固</td>
                                    <td>最新零配件保固</td>
                                    <td>单价</td>
                                    <td>数量</td>
                                    <td>费用</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for d in bill.spare %}
                                <tr>
                                    <td>{{d.name}}</td>
                                    <td>{{d.no}}</td>
                                    <td>{%ifequal d.category 1%}自然{%else%}人为{%endifequal%}</td>
                                    <td>{{device.expiration_date|date:"Y-m-d"}}</td>
                                    <td>{%ifequal d.status 1%}保{%else%}非保{%endifequal%}</td>
                                    <td>{{d.price}}</td>
                                    <td>{{d.count}}</td>
                                    <td>{{d.total}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot><tr><td colspan="8" class="tr">合计：{{bill.spare_total}}</td></tr></tfoot>
                            </table>
                            {% endif %}
                    </td>
                </tr>
            </table>
    </form>
    <div class="siderbar">
        <div class="w1">
            <h3><img src="/static/img/store/{{res.head_type}}.png" width="60px;"></h3>
            <p>{{store.name}} {{store.no|fix_none}}</p>
            <p class="f3">{{store.mobile|fix_none}}</p>
            <p class="f3">{{store.address|fix_none}}</p>
        </div>
        <div class="w2">
            <table width="100%">
                <tr>
                    <td><img src="{{res.user.avatar_img|default_logo}}" width="40px"></td>
                    <td>{{res.user.name}}<p class="f3">{{res.user.username}}</p></td>
                    <td class="tr">报修</td>
                </tr>
                {%if res.grab_user %}
                 <tr>
                    <td><img src="{{res.grab_user.avatar_img|default_logo}}" width="40px"></td>
                    <td>{{res.grab_user.name}}<p class="f3">{{res.grab_user.username}}</p></td>
                    <td class="tr">维修</td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="w3">
            <table id="timeline">
            {% for stat in res.status_list %}
                {% ifequal stat.head_type -1%}
                <tr><td class="center"><img src="/static/images/time_dot_2.png"/></td>
                <td colspan="2" class="f1">{{stat.create_time}}</td></tr>
                {%endifequal%}
                {% ifequal stat.head_type 1 %}
                <tr>
                    <td style="width: 60px"><span class="icon">报修</span></td>
                    <td ><p class="f3">{{stat.must_time}}到修(合约)</p>
                    <p>{{stat.name}}</p>
                    <p class="f3">{{stat.mobile}}</p>
                    </td>
                    <td valign="top" class="f3">{{stat.create_time}}</td>
                </tr>
                {% endifequal %}
                {% ifequal stat.head_type 2 %}
                <tr>
                    <td ><span class="icon">通知</span></td>
                    <td>
                        <p  class="f3">{{stat.company}} {{stat.city}}{{stat.count}}人</p>
                        <p>{{stat.name}}(主管)</p>
                        <p class="f3">{{stat.mobile}}</p>
                    </td>
                    <td valign="top" class="f3">{{stat.create_time}}</td>
                </tr>
                {% endifequal %}
                {% ifequal stat.head_type 3 %}
                <tr>
                    <td class="center"><img src="/static/images/time_dot.png"/></td>
                    <td>
                        <p class="f3">{{stat.company}} {{stat.city}}</p>
                        <p>{{stat.to_name}}</p>
                        <p class="f3">{{stat.to_mobile}}</p>
                    </td>
                    <td valign="top" class="f3">{{stat.create_time}}</td>
                </tr>
                {% endifequal %}
                {% ifequal stat.head_type 4 %}
                <tr>
                    <td class="center"><img src="/static/images/time_dot.png"/></td>
                    <td>
                        <p class="f3">{{stat.company}} {{stat.city}}</p>
                        <p>{{stat.to_name}}</p>
                        <p class="f3">{{stat.to_mobile}}</p>
                    </td>
                    <td valign="top" class="f3">{{stat.create_time}}</td>
                </tr>
                {% endifequal %}
                {% ifequal stat.head_type 5 %}
                <tr>
                    <td class="center"><img src="/static/images/time_dot.png"/></td>
                    <td>
                        <p class="f3">{{stat.company}} 总部</p>
                        <p>{{stat.to_name}}</p>
                        <p class="f3">{{stat.to_mobile}}</p>
                    </td>
                    <td valign="top" class="f3">{{stat.create_time}}</td>
                </tr>
                {% endifequal %}
                {% ifequal stat.head_type 6 %}
                <tr>
                    <td><span class="icon">接单</span></td>
                    <td>
                        <p class="f3">预计{{stat.must_time}}时候到店</p>
                        <p>{{stat.to_name}}({{stat.company}}{{stat.city}})</p>
                        <p class="f3">{{stat.to_mobile}}</p>
                    </td>
                    <td valign="top" class="f3">{{stat.create_time}}</td>
                </tr>
                {% endifequal %}

                {% ifequal stat.head_type 7 %}
                <tr>
                    <td><span class="icon">到店</span></td>
                    <td>
                        <p>实际到店</p>
                        {% if stat.later %}
                        <p class="f3">迟到原因:{{stat.later}}</p>
                        {% endif %}
                    </td>
                    <td class="f3" valign="top">{{stat.arrival_time}}</td>
                </tr>
                {% endifequal %}

                {% ifequal stat.head_type 8 %}
                <tr>
                    <td><span class="icon">维修</span></td>
                    <td>
                        预计{{stat.create_time}}修复
                    </td>
                    <td></td>
                </tr>
                {% endifequal %}

                {% ifequal stat.head_type 12 %}
                <tr>
                    <td><span class="icon">暂停</span></td>
                    <td>
                        {{stat.title}}
                        <p>{{stat.content}}</p>
                    </td>
                    <td valign="top"  class="f3">{{stat.stop_time}}</td>
                </tr>
                {% endifequal %}

                {% ifequal stat.head_type 9 %}
                <tr>
                    <td></td>
                    <td>
                        <p>{{stat.msg}}</p>
                    </td>
                    <td valign="top"  class="f3">{{stat.create_time}}</td>
                </tr>
                {% endifequal %}
                 {% ifequal stat.head_type 10 %}
                <tr>
                    <td><span class="icon">确认修单</span></td>
                    <td>
                        <p>{{stat.msg}}</p>
                    </td>
                    <td valign="top"  class="f3">{{stat.create_time}}</td>
                </tr>
                {% endifequal %}
                {% ifequal stat.head_type 11 %}
                <tr>
                    <td><span class="icon">24H</span></td>
                    <td>
                        <p>{{stat.msg|safe}}</p>
                    </td>
                    <td valign="top" class="f3">{{stat.create_time}}</td>
                </tr>
                {% endifequal %}
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
