{% extends "store/base.html" %} {%block content%}
<script type="text/javascript" src="/static/js/datepicker/WdatePicker.js"></script>
<script type="text/javascript">
    $(function(){
        $('#id_expiration_date').click(function(){
            WdatePicker();
        });
    });
</script>
<style type="text/css">


</style>
<div class="wrapper">
    <div class="sub_nav clearfix f2"><span class="fl"><a href="/store/">首页</a> > <a href="/store/{{current}}/list">固定资产</a> >资产卡片</span> </div>
    <div class="box clearfix">
    <form method="POST" action="" id="form" style="width: 100%">
             <table width="100%">
                {% for field in form %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td style="width: 180px;">{{ field }} </td>
                </tr>
                {% endfor %}
                <tr><td></td><td class="tl"> <input type="submit" class="b2" value="保存" /></td></tr>
            </table>
    </form>
</div> 
{% endblock %}
