{% extends "store/base.html" %} {%block content%}
{% load helpers %}
<script type="text/javascript" src="/static/js/datepicker/WdatePicker.js"></script>
<script type="text/javascript">
    $(function(){
        $('#id_scrap_time').click(function(){
            WdatePicker();
        });
    });
</script>
<style type="text/css">  
    

</style>
<div class="wrapper">
    <div class="sub_nav clearfix f2"><span class="fl"><a href="/store/">首页</a> > <a href="/store/{{current}}/list">固定资产</a> >资产卡片</span>  <span class="fr">编号:{{device.uid}}</span></div>
    <div class="box clearfix">
    <div class="content">
             <table width="100%" class="table3">
                <tr>
                <th style="width: 25%" class="tr">类别</th><td>{{device.category}}</td>
                <td class="tr" style="padding-right: 100px">
                    <a href="/store/{{current}}/edit/{{device.id}}" style="padding: 10px">
                        <img src="/static/images/icon_edit.png"> 编辑
                    </a>
                </td>
                </tr>
                <tr><th class="tr">设备/设施类别</th><td colspan="2">{{device.efcategory|fix_none}}</td></tr>
                <tr><th class="tr">名称</th><td colspan="2">{{device.name|fix_none}}</td></tr>
                <tr><th class="tr">品牌</th><td colspan="2">{{device.brand|fix_none}}</td></tr>
                <tr><th class="tr">型号</th><td colspan="2">{{device.model|fix_none}}</td></tr>
                <tr><th class="tr">规格</th><td colspan="2">{{device.specifications|fix_none}}</td></tr>
                <tr><th class="tr">生成序列号</th><td colspan="2">{{device.psnumber|fix_none}}</td></tr>
                <tr><th class="tr">固定资产编号</th><td colspan="2">{{device.no|fix_none}}</td></tr>
                <tr><td colspan="3"><div class="hr"></div></td></tr>
                <tr><th class="tr">供应商</th><td colspan="2">{{device.supplier.name|fix_none}}</td></tr>
                <tr><th class="tr">过保时间</th><td colspan="2">{{device.expiration_date|date:'Y-m-d'}}</td></tr>
                <tr><th></th><td colspan="2">{% for l in device.logo %}<img src="{{l}}" style="width: 400px" /><br />{% endfor %}</td></tr>
            </table>
    </div>
    <div class="siderbar center">
        <div class="w1">
            <a href="/store/assets/store/{{device.store.id}}">
            <h3><img src="/static/img/store/{{device.store.head_type}}.png" width="60px;"></h3>
            <p>{{device.store.name}} </p>
            <p class="f3">{{device.store.no}}</p>   
            <p class="f3">{{device.store.tel}}</p>
            <p class="f3">{{device.store.address}}</p>
            </a>
        </div>
        <div class="w3">
            <table id="timeline">
                {% for ti in timers %}
                <tr>
                    <td style="width: 60px"><img src="/static/images/time_dot.png"/></td>
                    <td class="tl">
                    <p class="f3">{{ti.create_time}}</p>
                    <p>{{ti.error}}</p>
                    <p class="f3">{{ti.name}}({{ti.company}} {{ti.city}})</p>
                    <p class="f3">{{ti.mobile}}</p>
                    </td>
                    <td class="f3 tr" valign="top">{{ti.status}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div> 
<div id="cpanle">
                <a href="javascript:void(0)">生成二维码</a>   |
                <a href="javascript:void(0)">调拨</a>   |  
                 <a href="javascript:void(0)">买卖</a>   |  
                 <a href="javascript:void(0)">租赁</a>   |  
                 <a href="javascript:void(0)">报废</a>   |  
                 <a href="javascript:void(0)">闲置</a>
</div>
<script type="text/javascript">
    $(window).resize(function(){
             var h_doc = $(document).height();
             var h_foo = h_doc-25;
             $('#cpanle').offset({top:h_foo,left:0});
    });  
</script>
{% endblock %}
